@import "custom";
// @import "bootstrap-icons";

body {
  background-color: $secondary;
}

main {
  background-color: $secondary;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.img-fluid {
  max-width: 75px;
  height: auto;
}

h2 {
  font-size: 1rem;
}
